 ol, ul{
   list-style: none;
 }

 ul{
   display: block;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   padding-inline-start: 40px;
 }

 li{
   text-align: -webkit-match-parent;
 }


 body{
   padding-top: 60px;
 }

 #nav{
   margin:0;
   padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 700px;
    height: 60px;
    width: 100%;
    display: flex;
    background: rgba(112, 109, 109, 0.333);
    background-color: #000000;
    align-items: center;
    z-index: 100;
  }

  #section{
    z-index: 90;
    margin-top: 60px;
    width: 1000px;
    text-align: left;
    float: left;
    padding: 10px;
  }

  #aside{
    z-index: 90;
    margin-top: 60px;
    width: 200px;
    float: left;

  }

  .page{
    /* text-align: center; */
    /* -webkit-font-smoothing : antialiased; */
    margin: 0 auto;
    min-width: 1400px;
    min-height: 100%;
    height: 100%;
    width: 1400px;
    padding: 0 20px;
  }
  
  .side_menu_box{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .side_menu{
    margin: 0 15px;
    margin-top: 8px;
  }

  .side_item{

  }
  .side_category{
    position: relative;
    border-top: 1px solid #ddd;
  }
  .side_menu a{
    display: block;
    line-height: 20px;
    padding: 10px 0 8px;
  }

  strong.title{
    display: inline-block;
    font-size: 16px;
    font-family: "SeoulHangang CM", "08SeoulHangang", sans-serif;
    color: #151515;
    font-weight: bold;
    margin-top: 1px;
  }

  .title_eg{
    display: inline-block;
    padding-left: 5px;    
    font-size: 11px;
    font-family: "굴림", Gulim, sans-serif;
    color: #b2b2b2;
    text-align: left;
  }

  .nav_right_item{
    position: relative;
    right: 150px;
    display: flex;
    margin-left: auto;
  }
  
  .nav_item{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    display: block;
    color: white;
    font-size: 13px;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    font-family: "맑은 고딕", "나눔 고딕", Gothic;
  }

  .nav_logo{
    position:relative;
    margin: 0;
    padding-left: 250px;

   
  }
  .nav_title{
    margin-left: 10px;
    position: relative;
  }
  #title{
    font-family: "TmonMonsori", sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    text-decoration: none;
  }


  .home_title_box{
    margin-top: 70px;
    margin-bottom: 40px;
  }

  .home_title{
  font-size: 20px;
  font-weight: bold;
  
  }

  .product{
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
  }
  

  .product_card{
    text-align: left;
    background-color: #fff;
    font-size: 16px;
    margin-bottom: 80px;
    width: 180px;
    border-radius: 4px 4px 0 0 ;
  }

  .product_card_tx{
    padding: 0;
  }

  .product_thumbnail{
    position: relative;
    width: 180px;
  }

  .product_thumbnail_picture{
    display: block;
    overflow: hidden;
    height: 200px;
    width: 180px;
    object-fit: cover;
  }

  .product_name{
    color: #495057;
    margin-top: 10px;
    font-size: 13px;
    line-height: 20px;
    height: 20px;
    font-weight: 400;
  }
  .product_price_box{
    display: flex;
    justify-content: space-between;
  }
  .product_price{
    color: #495057;
    font-weight: 700;
    margin-top: 10px;
    font-size: 13px;
    width: 75px;
    height: 20px;
    line-height: 20px;
  }
  .product_review{
    display: flex;
    margin-top: 10px;
    vertical-align: middle;
  }
  .product_review_star{
    color: #f2616b;
    font-size: 12px;
    box-sizing: border-box;
    padding-top: 1px;
    margin-right: 3px;
  }
  .product_review_satisfact{
    color: #f2616b;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -.5px;
    margin-right: 5px;
  }
  .product_review_count{
    color: #868e96;
    font-size: 14px;
    opacity: .8;
  }
  .photo_content{
    width: 180px;
    height: 200px;
    -webkit-animation: LazyPhotoImage_fadein__r5aXG 1s;
  }



  .link{
    display: block;
    text-decoration: none;
    color: #343a40;
  }

